html {
  scroll-behavior: smooth;
}

body {
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
  max-height: 100vh;
  /* Limit body's height to the viewport height */
  max-width: 100%;
  /* Limit body's width to the viewport width */
  overflow: auto;
  /* Add scrollbars if needed */
}

.topLogo {
  grid-row: 1/3;
  grid-column: 5/7;
  text-align: center;
  align-self: flex-end;
}

.logoPic {
  width: 15vh;
}


.container {
  grid-row: 4/9;
  grid-column: 4/8;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(7, 1fr);
  align-content: space-between;
}

.login-text {
  color: #fff;
  margin-bottom: 30px;
}


.kp-input-row {
  margin-bottom: 20px;
}

.mrgn {
  margin-bottom: 40px;
}

.kp-input-wrap .kp-input-label {
  margin-left: 0;
  margin-bottom: 0.6rem;
  display: block;
  font-size: 15px;
  color: #fff;
}

.kp-input {

  height: 41px;
  width: 311px;
  border-radius: 10px;
  border-color: #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-style: solid;
  background: none;
  transition: all 0.3s ease;
  color: #fff;
}


.forgotText {
  color: #ffffff;
  margin-top: 5px;
  font-size: 0.9rem;
}

.forgotText:hover {
  color: #cfd3db;
}


.area{
  z-index: -2;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 122vh;
  overflow: hidden;
  z-index: -2;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1200px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.glow-on-hover {
  width: 310px;
  height: 50px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  background: none;
  border-width: thin;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #0000ff, #add8e6, #b0c4de, #87cefa, #00ffd5, #002bff, #7a00ff, #87ceeb, #6495ed);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #fff;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

a {
  text-decoration: none;
}

.sign {
  color: #ffffff;
}

.sign:hover {
  color: #c0c0c0;
}

h4 {
  z-index: 1;
  padding-top: 0;
}

.new-member {
  z-index: 1;
  text-align: center;
  color: #c0c0c0;
  padding-top: 30px;
}